* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f4f7fa;
    margin: 0;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    line-height: 1.6;
}

.main-address {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7fa;
    padding: 20px;
}

.section-address {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    width: 45%;
    margin-top: 3em;
}

.section-address h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

.section-address form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-address label {
    color: #333;
    font-size: 1em;
    margin-left: 4px;
    font-weight: bold;
}

.section-address input[type="text"],
.section-address input[type="number"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.section-address input:focus {
    border-color: #0095f6;
    box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.4);
    outline: none;
}

.section-address button.botonForm {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #0095f6;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.section-address button.botonForm:hover {
    background-color: #0056b3;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.section-address button.botonForm:active {
    background-color: #00408a;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
    .section-address {
        width: 60%;
        padding: 30px;
    }

    .section-address h2 {
        font-size: 1.8em;
    }

    .section-address button.botonForm {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .section-address {
        width: 90%;
        padding: 20px;
    }

    .section-address h2 {
        font-size: 1.6em;
    }

    .section-address input[type="text"],
    .section-address input[type="number"] {
        padding: 10px;
    }

    .section-address button.botonForm {
        font-size: 0.9em;
        padding: 12px;
    }
}
