.section-media {
    max-width: 600px;
    height: max-content;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 8em;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
}

.formMedia {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea,
.inputFileWrapper,
button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputFileWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
}

.inputFileWrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.botonForm {
    align-self: center;
    padding: 10px 20px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botonForm:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1em;
}

.containerBuscador {
    margin-top: 20px;
}

.containerBuscador input[type="text"] {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1px;
}

.resultadosDiv {
    display: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.resultadoP {
    padding: 10px;
    border-radius: 8px;
}

.resultadoP:hover {
    background-color: whitesmoke;
}

.progress-container {
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    border: 2px solid #ddd;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transition: width 0.4s ease-in-out;
}

.progress-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px dashed rgba(0, 149, 246, 0.4);
    animation: pulse-border 1.5s infinite;
}

@keyframes pulse-border {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}
